* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #4d4b4d;
    color: white;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #011c9680;
    box-shadow: 0 8px 12px #0025f5b0;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 1200px;
    min-width: auto;
    min-height: auto;
    padding: 16px 32px;
}

.nav-contiainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 16px 32px;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 28px;
}

.nav-logo img {
    width: 50px;
    height: auto;
    gap: 20px;
}

.nav-menu {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    list-style: none;
}

.nav-link {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 600;
}
