* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #180146;
    color: white;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(128deg, rgba(8, 8, 222, 0.33) 10%, rgba(4, 4, 68, 0.566) 100%);
    box-shadow: 0 8px 12px #3900f5b0;
    border: 3px rgba(72, 0, 255, 0.547) solid;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 1200px;
    min-width: auto;
    padding: 16px 32px;
}

.nav-contiainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 16px 32px;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 28px;
}

.nav-logo img {
    width: 50px;
    height: auto;
    gap: 20px;
}

.nav-logo:hover{
    transform: translateY(-4px);
    transition: all 0.68s ease-in;
    color: rgba(160, 161, 245, 0.985);
    text-decoration: none;
    font-size: 32px;
}

.nav-menu {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    list-style: none;
}

.nav-link:hover {
    transform: translateY(-4px);
    border-radius: 16px;
    background: rgba(27, 3, 73, 0.678);
    border: 2px rgba(107, 0, 247, 0.638) solid;
    box-shadow: 0 2px 21px rgba(83, 3, 163, 0.488);
    transition: all 0.5s ease-out;
    color: rgba(181, 181, 181, 0.985);
    text-decoration: none;
}

.nav-link {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 600;
}
